torc==2.0.0+cu118
torch-cluster==1.6.3+pt20cu118
torch-scatter==2.1.2+pt20cu118
torch-sparse==0.6.18+pt20cu118
torch-spline-conv==1.2.2+pt20cu118
torch-geometric==2.6.1
PyYAM==6.0.2
numpy==1.26.4
scikit-lear==1.6.1
deeprobust==0.2.11